form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem auto;
  }
  
  .forms {
    padding: 15px 15px;
    background-color: rgba(0, 0, 0, 0.127);
    border: none;
    border-radius: 8px;
    box-shadow: 15px 15px 10px rgba(81, 81, 81, 0.452);
  }
  
  form b {
    font-size: 30px;
  }
  
  form li {
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    color: black;
    background-color: rgba(111, 111, 111, 0.263);
    border: 2px solid rgba(0, 0, 0, 0.458);
    border-radius: 8px;
    padding: 10px;
    width: 100%;
  }
  
  form input[type='submit'] {
    background-color: rgba(0, 0, 0, 0.374);
    color: rgb(195, 195, 195);
    font-weight: 900;
    font-size: larger;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
  }
  form input[type='submit']:hover{
    background-color: rgb(0, 0, 255, 0.252);
    color:rgba(92, 41, 41, 0.277);
  }
  
  form input::placeholder {
    color: black;
  }
  